{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-5">Modifier le bien</h1>
    {{ include('admin/biens/_form.html.twig', {button: 'Valider'}) }}
    <div class="text-center">
        <a href="{{ path('admin.biens.index') }}" class="btn btn-secondary">Retour</a>
    </div>
</div>
{% endblock %}